{% extends "basevendedor.html" %}
{% block titulo %}Adduci - Dashboard{% endblock %}
{% block js %}
{% endblock %}
{% block conteudo %}
    {% if mensagem != '' %}
        <h2>{{mensagem}}</h2>
    {% endif %}





            <nav>
            <h1>Aqui começã o Dashboard do Vendedor</h1>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>
            <p>linha<p>

            </nav>
{% endblock %}