<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Adduci's -Cadastro de Usuários</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="../css/formularios.css">
</head>
<body>
    <form class="formulario" method="post"> 
        <h1> Cadastro de Usuários</h1>
        
        <div class="field">
            <label for="nome">Nome Completo:*</label>
            <input type="text" id="nome" name="nome" placeholder="Digite seu nome completo" required>
        </div>
        
        <div class="field">
            <label for="login">Login:*</label>
            <input type="text" id="login" name="login" placeholder="Digite seu Login">
        </div>

        <div class="field">
            <label for="senha">Senha:*</label>
            <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>
        </div>     

        <div class="field">
            <label for="cpf">CPF</label>
            <input type="text" id="cpf" name="cpf" placeholder="Digite seu CPF" required>
        </div>

        <div class="field">
            <label for="telefone">Celular:</label>
            <input type="text" id="telefone" name="telefone" placeholder="Digite seu Celular">
        </div>

        <div class="field">
            <label for="email">E-Mail:</label>
            <input type="email" id="email" name="email" placeholder="Digite seu E-Mail*" required>
        </div>


        <div>
            <h3>Para pagamento</h3>
        </div>


        <div class="field">
            <label for="email">Pix:</label>
            <input type="email" id="email" name="email" placeholder="Digite seu E-Mail*" required>
        </div>

        <div class="field">
            <label for="banco">Banco:</label>
            <input type="text" id="banco" name="banco" placeholder="Digite o nome do seu banco" required>
        </div>  

        <div class="field radiobox">
            <span>Tipo de Conta:</span>
            <input type="radio" name="Tipoconta" id="corrente" value="corrente" checked><label for="corrente">Conta Corrente</label>
            <input type="radio" name="Tipoconta" id="pupanca" value="pupanca"><label for="pupanca">Conta Poupança</label>
        </div>

        <div class="field">
            <label for="CEP">CEP:</label>
            <input type="text" id="cep" name="cep" placeholder="Digite seu CEP*" required>
        </div>  

        <div class="field">
            <label for="lagradouro">Lagradouro(rua/av/etc):</label>
            <input type="text" id="lagradouro" name="lagradouro" placeholder="Digite o lagradouro*" required>
        </div>  


        <div class="field">
            <label for="numero">Número:</label>
            <input type="text" id="numero" name="numero" placeholder="Digite o número (Se for sem número digite 0)" required>
        </div>  

        <div class="field">
            <label for="complemento">Complemento:</label>
            <input type="text" id="complemento" name="complemento" placeholder="Digite caso haja complemento" required>
        </div>  

        <div class="field">
            <label for="cidade">Cidade:</label>
            <input type="text" id="cidade" name="cidade" placeholder="Digite a cidade" required>
        </div> 

        <div class="field">
            <label for="uf">Estado:</label>
            <input type="text" id="uf" name="uf" placeholder="Digite o estado" required>
        </div>

        
        
        
 <!--       
        <div class="field radiobox">
            <span>Deseja receber nossas novidades?</span>
            <input type="radio" name="novidades" id="sim" value="sim" checked><label for="sim">Sim</label>
            <input type="radio" name="novidades" id="nao" value="nao"><label for="nao">Não</label>
        </div>
        
        <div class="field">
            <label for="mensagem">Sua mensagem:</label>
            <textarea name="mensagem" id="mensagem" placeholder="Mensagem*" required></textarea>
        </div>
-->
        <input type="submit" name="acao" value="Enviar">
    </form>
</body>
</html>