{% extends "base.html" %}
{% block titulo %}Cadastrar aluno{% endblock %}
{% block js %}
    function validar() {
        const nome = document.getElementById('nome');
        const email = document.getElementById('email');
        if (nome.value === '') {
            alert("Preencha o nome.");
            return false;
        }
        if (email.value === '') {
            alert("Preencha o E-mail.");
            return false;
        }

        return true;
    }

    function salvar() {
        if (validar()) document.getElementById("form_convite").submit();
    }


{% endblock %}
{% block conteudo %}
    <form action="" method="POST" id="form_convite" enctype="multipart/form-data">
        <p>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" autocomplete="off" value="{{usario['nome']}}" />
        </p>
        <p>
            <label for="email">E-mail:</label>
            <input type="text" id="email" name="email" autocomplete="off" value="{{usario['email']}}" />
        </p>


    </form>
    <p>
    <a href="/">Voltar</a></p>
